<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Task / To-do List</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'todolistapp/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'todolistapp/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'todolistapp/css/sb-admin.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="#">To-do List</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>


        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                    <a class="dropdown-item" href="#">Something(Notification)</a>
                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Manage Tasks</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                    <a class="dropdown-item" href="{% url 'todolistapp:list' %}">View Tasks</a>
                    <a class="dropdown-item" href="{% url 'todolistapp:new' %}">New Task</a>
                </div>
            </li>
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">



                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <h2>Create Task</h2>
                    </div>
                    <div class="card-body">
                        <div>
                            <form method="post" action="{% url 'todolistapp:reg' %}" id="regtask">
                                {% csrf_token %}
                                <input name="pk" value="{{ pk }}" hidden>
                                <div class="form-group row">
                                    <label class="col-sm-2">Task Name</label>
                                    <input class="form-control col-sm-7" name="taskname">
                                    <div class="col-sm-1" id="tnin"></div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2">DeadLine</label>
                                    <div class="row col-sm-8" id="datein">
                                        <div class="row col-sm-7">
                                            <div class="col col-sm-4"><input class="form-control" name="dl_y" placeholder="Year"></div>
                                            <span class="col-sm-1">/</span>
                                            <div class="col col-sm-3"><input class="form-control" name="dl_mon" placeholder="Month"></div>
                                            <span class="col-sm-1">/</span>
                                            <div class="col col-sm-3"><input class="form-control" name="dl_d" placeholder="Day"></div>
                                        </div>
                                        <span class="col-sm-1"></span>
                                        <div class="col-sm-4 row">
                                            <div class="col col-sm-5"><input class="form-control" name="dl_h" placeholder="Hour"></div>
                                            <span class="col-sm-1">:</span>
                                            <div class="col col-sm-5"><input class="form-control" name="dl_min" placeholder="Minute"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2">Priority</label>
                                    <select class="custom-select col-sm-4" name="priority">
                                        <option value="0">Low</option>
                                        <option value="1">Medium</option>
                                        <option value="2">High</option>
                                        <option value="3">Urgent</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2">Repeat</label>
                                    <input type="checkbox" id="repeat" name="repeat" value="1">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2">Interval</label>
                                    <select class="custom-select col-sm-4" name="itvltype">
                                        <option value="-1">Custom</option>
                                        <option value="0">1 Week</option>
                                        <option value="1">2 Weeks</option>
                                        <option value="2">1 Month</option>
                                        <option value="3">2 Months</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2">Custom Duration</label>
                                    <input class="form-control col-sm-3" name="interval">
                                    <span class="col-sm-1">Days</span>
                                    <div class="col-sm-0" id="intin"></div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2">Parent Task</label>
                                    <select class="custom-select col-sm-8" name="parent">
                                        <option value="-1">None</option>
                                        {% for task in t_intime %}
                                        <option value="{{task.id}}">{{task.taskname}}</option>
                                        {% endfor %}
                                        {% for task in t_overdue %}
                                        <option value="{{task.id}}">{{task.taskname}}(Overdue)</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>



            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © sr_8e 2019</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'todolistapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'todolistapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'todolistapp/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'todolistapp/vendor/jquery/jquery.validation.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'todolistapp/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'todolistapp/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'todolistapp/js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static 'todolistapp/js/demo/datatables-demo.js' %}"></script>

    <script>
        jQuery.validator.addMethod("checkinterval", function(v, e) {
            var r = $("#repeat").prop("checked");
            return !r || v !== "";
        }, "Required");
        $("#regtask").validate({
            rules: {
                taskname: {
                    required: true
                },
                dl_y: {
                    required: true,
                    number: true
                },
                dl_mon: {
                    required: true,
                    number: true
                },
                dl_d: {
                    required: true,
                    number: true
                },
                dl_h: {
                    required: true,
                    number: true
                },
                dl_min: {
                    required: true,
                    number: true
                },

                interval: {
                    checkinterval: true,
                    number: true
                }


            },
            messages: {
                taskname: {required:"Required", number:"Invalid value"},
                dl_y: {required:"Required", number:"Invalid value"},
                dl_mon: {required:"Required", number:"Invalid value"},
                dl_d: {required:"Required", number:"Invalid value"},
                dl_h: {required:"Required", number:"Invalid value"},
                dl_min: {required:"Required", number:"Invalid value"},
            },
            errorPlacement: function(er, el) {
                if (el.attr("name") == "interval") {
                    er.insertAfter("#intin");
                } else if (el.attr("name") == "taskname") {
                    er.insertAfter("#tnin");

                } else {
                    er.insertAfter(el)
                }
            }
        });

    </script>
</body>

</html>
